{% extends "RusticalApp/padre.html" %}

{% load static %}

{% block Changingcontent %}

<center>
  <h1>  ¿Deseas cultivar tus propias Orellanas?</h1>
  <h1>¿Quieres saber cómo cultivarlas? </h1>
</center>

<p> Acá te enseñaremos como determinar las "cantidades" apropiadas de los elementos que debes disponer en tu sustrato para efectuar
    tu cultivo con un uso eficiente de tus recursos. Para esto tenemos que usar un poco de matemáticas... </p>

<head>
    <style>
       table, th, td {
          border: 2px solid rgb(25, 0, 255);
       }
    </style>
 </head>

 <body>
    <center>
    <h1>Elementos para el sustrato de tus Orellanas</h1>
    <table>
       <tr>
          <th>Componente</th>
          <th>Proporción</th>
          <th>Porcentaje</th>
       </tr>
       <tr>
          <td>Heno</td>
          <td>Aserrin</td>
          <td>Esporas</td>
       </tr>
       <tr>
          <td>40%</td>
          <td>55%</td>
          <td>5%</td>
       </tr>
    </table>
 </body>
</center>

<h1>  ¿Deseas comprar nuestras orellanas para tu negocio?     </h1>

<div id="price">
   <!--price tab-->
   <div class="plan">
     <div class="plan-inner">
       <div class="entry-title">
         <h3>Sustrato Básico</h3>
         <div class="price"><span>Recomendaciones de proporciones por kilo de sustrato</span>
         </div>
       </div>
       <div class="entry-content">
         <ul>
           <li><strong>cantidad</strong> Heno</li>
           <li><strong>cantidad</strong> Aserrin</li>
           <li><strong>cantidad</strong> Esporas</li>
           <li><strong>cantidad</strong> Cascara de Cebada</li>
           <li><strong>cantidad</strong> Cascara de café</li>
         </ul>
       </div>
       <div class="btn">
         <a href="{% url 'Compra'  %}">Haz click acá si deseas ir a compras</a>
         
         
      
   <!-- end of price tab-->
 </div>




¡Informanos tus intereses!:
<br>
    <form action=""    method="post">{% csrf_token %} <!---esto me crea un formulario y me genra una clave o token para recibir instrucciones metodo para traer informacion-->
        <table>
            {{miFormulario2.as_table}}
        </table>
        <input type="submit",value="Enviar">
     </form>


{% endblock %}